listen: 0.0.0.0:8080

database:
    dsn: postgres://postgres:postgres@postgres:5432/postgres?sslmode=disable

bot_tokens:
    - bot: <randome-token-1>
      oauth: <xoxb-token>

team: <team-domain>

cookies:
    authentication_key: "<randome-token-2>
    encryption_key: "<randome-token-3>"